*{
   margin: 0px;
   padding: 0px; 
   font-family: sans-serif;
}

.nav{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border: 0.5px solid grey;
    position: fixed;
    top:0px;
   
}
.c1 h1{
    font-family: serif;
}

.c1 h1:hover{
    cursor: pointer;
}

.c1{
    display: flex;
    width: 400px;
    height: 100%;
    gap: 12%;
    margin-left: 22px;
}
.c1 input{
    height: 24px;
    background-color: #f1eeee;
     
    border: 0.0px solid white;
}
.c1 input:focus{
    outline: none;
}
.c2{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.write{
    display: flex;
    color:grey;
}
.search{
    width: 220px;
    /* border: 15px; */
    background-color: #f1eeee;
    display: flex;
    border-radius: 25px;
;
    align-items: center;
}
.image{
    border: 1.5px solid black;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    background-image: url("https://preview.redd.it/early-2000s-kane-physique-v0-k90chwky2bib1.jpg?width=1080&crop=smart&auto=webp&s=de6b135808fec2cbf494e9b9bf85adeb25836ff5");
    background-size: contain;
    background-repeat: no-repeat;
}

.image:hover{
    cursor: pointer;
}

.write p{
    align-self: center;
}

.write p:hover{
    cursor: pointer;
    color: blueviolet;
}

.write svg:hover{
    cursor: pointer;
    color: blueviolet;
}

.bell svg:hover{
    cursor: pointer;
}