.link div{
    
    display: flex;
    align-items: end;
    width:80%;
    margin-left:20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.link{
    margin-top:20px;
    padding-bottom: 10px;
    
}
.link div p{
    font-size: 15px;
    color:grey;
}
.link div :hover{
    cursor: pointer;
    color: black;
}

.sidebar_bottom{
    /* border: 2px solid black; */
    margin-top: 25px;
}
.sidebar_bottom div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
    color: grey;
    margin-bottom: 20px;
}

.sidebar_bottom p:hover{
    cursor: pointer;
}

.xs{
    font-size: 13px;
}

.xs:hover{
    cursor: pointer;
}
.m{
    margin-left: 10px;
}
.sidebar_bottom div:hover{
    color: black;
}